/.venv
/.venv_v4
/.venv_v4
/RDDT-codexversion/reference
/node_modules
*.bmp
*.ts
*.pyc
/v4_build_tools/artifact_attrwt_correction/node_modules
/v4_build_tools/node_modules
/v4_build_tools/workbook_audit_artifacts
/handoff
*.ndjson
/v4_build_tools
/RDDT-codexversion/v3
/RDDT-codexversion
*.xlsx
ATTRv_atom_code_updates_from_workbook.json
